### built in function

In [3]:
dir([1,2,3,4])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
format(10000000,'0>020,.4f')

'0000010,000,000.0000'

In [15]:
def hojun(value):
    if value % 2==0:
        return True
    else:
        return False
list(filter(hojun,range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list(filter(lambda x:x%2==0, range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
[i for i in range(20) if i % 2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### map,zip

In [20]:
list(map(hojun,range(20)))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [22]:
list(map(lambda x:x**2,range(20)))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [25]:
list(zip(['a','b','c','d'],[1,2,3,4],'ABCD'))

[('a', 1, 'A'), ('b', 2, 'B'), ('c', 3, 'C'), ('d', 4, 'D')]

###  max,min

In [27]:
max([1,2,3,4])
min([1,2,3,4])

1

###  sort,reversed(),sorted()

In [30]:
l=[10,5,4,3,7,6]
l.sort()
l

[3, 4, 5, 6, 7, 10]

In [36]:
testCaseOne=['abc','def','hello world','hello','python']
testCaseTwo='Life is too short. You need python'.split()
testCaseThree=list(zip('anvfe',[1,2,3,4,5]))

print(sorted(testCaseOne, key=len, reverse=True))
print(sorted(testCaseTwo, key=str.lower))
print(sorted(testCaseThree, key=lambda x:x[1]))
print(sorted(testCaseThree, key=lambda x:x[0]))

['hello world', 'python', 'hello', 'abc', 'def']
['is', 'Life', 'need', 'python', 'short.', 'too', 'You']
[('a', 1), ('n', 2), ('v', 3), ('f', 4), ('e', 5)]
[('a', 1), ('e', 5), ('f', 4), ('n', 2), ('v', 3)]

In [38]:
5 not in [1,2,3,4,5]

False

In [39]:
l=[1,2,3,4,5]

In [41]:
dir(l)
#  'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [44]:
def listChange(x):
    x[0] =1000
    return x
l=[1,2,3,4,5]
print(listChange(l.copy()))
print(l)

[1000, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### pop, append

In [50]:
# 선입 선출 큐
l=[]
l.append(10)
l.append(20)
l.append(30)
l.pop(0)

10

In [51]:
# 후입 선출 스택
l=[]
l.append(10)
l.append(20)
l.append(30)
l.pop()

30

In [52]:
dir((1,2,3))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [56]:
dir({'one':'하나','two':'둘'})
d={'one':'하나','two':'둘'}
#  'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values'
d.keys()
d.values()
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [57]:
del d['one']

In [58]:
d

{'two': '둘'}

In [59]:
d['one']='하나'

In [60]:
d

{'two': '둘', 'one': '하나'}

In [62]:
s=set('11123434')
s

{'1', '2', '3', '4'}

In [70]:
dir(s)
# 'add',
#  'clear',
#  'copy',
#  'difference',  차집합
#  'difference_update',
#  'discard',
#  'intersection',
#  'intersection_update',
#  'isdisjoint',
#  'issubset',
#  'issuperset',
#  'pop',
#  'remove',
#  'symmetric_difference',
#  'symmetric_difference_update',
#  'union', 합집합
#  'update 다수의 원소 추가
s.add(7)
s
s.discard(7)
s
'1' in s

True

In [71]:
판콜에이={'A','B','C'}
타이레놀={'A','B','D'}
print(판콜에이.difference(타이레놀))
print(판콜에이.intersection(타이레놀))
print(len(판콜에이.intersection(타이레놀)))
print(판콜에이.union(타이레놀))

{'C'}
{'A', 'B'}
2
{'C', 'A', 'D', 'B'}

In [73]:
# 예제
serverData='개리 라이캣 개리 개리 라이캣 자바독 자바독 파이 썬'
len(set(serverData.split()))
d={}
for i in set(serverData.split()):
    print(i, serverData.split().count(i))
    d[i]=serverData.split().count(i)
d

자바독 2
썬 1
라이캣 2
개리 3
파이 1

{'자바독': 2, '썬': 1, '라이캣': 2, '개리': 3, '파이': 1}

In [75]:
for i in '1 2 3 4 5 6 7'.split():
    print(int(i))
    
[int(i) for i in '1 2 3 4 5 6 7'.split()]

list(map(int,'1 2 3 4 5 6 7'.split()))

1
2
3
4
5
6
7

[1, 2, 3, 4, 5, 6, 7]

In [78]:
l=[1,2,3,4,5]

## 시간복잡도

* 시간제한이 1초인 문제
1. N의 범위가 500인 경우: O(N^3)인 알고리즘을 설계
1. N의 범위가 2,000인 경우: O(N^2)인 알고리즘을 설계
1. N의 범위가 100,000인 경우: O(NlogN)인 알고리즘을 설계
1. N의 범위가 10,000,000인 경우: O(N)인 알고리즘을 설계

## 자료형

#### 정수형, 실수형, 복소수형, 문자열, 리스트, 튜플, 사전 등

In [80]:
# 정수형(integer)
a=100
a+1-1

100

In [92]:
# 실수형
a=1231.2
print(a)
a=-1231.2
print(a)

a=5.
print(a)

a=-.7
print(a)


# 지수표현 방식 => 자동 실수처리
# 1e9 = 10의 9제곱: inf를 1e9로 표현
print(1e9)
print(75.2e5)

# 정수형 데이터는 연산시 int 사용으로 오차 발생 줄이기
print(int(1e9))

# 실수형 데이터 오차 => round로 해결
print(0.3+0.6)
print(0.3+0.6==0.9)
print(round(0.3+0.6,2))

# 나눗셈 연산(/): 결과 실수형으로 반환
# %(나머지), //(몫)
print(7/3)
print(7%3)
print(7//3)
print(7**3)

1231.2
-1231.2
5.0
-0.7
1000000000.0
7520000.0
1000000000
0.8999999999999999
False
0.9
2.3333333333333335
1
2
343

In [111]:
# 리스트

a=list(range(1,11))
print(a)
#인덱싱
print(a[3])
print(a[-1])
# 슬라이싱
print(a[:-1])
print(a[:])
print(a[:11])
print(a[-10:])
print(a[-1:-10:-1])


# 반복되는 리스트 만들기 * 활용
a=[0]
print(a*10)

#리스트 컴프리헨션
a=[i*5 for i in range(11)]
print(a)

a=[i*5 for i in range(11) if i %2==0]
print(a)

a=[i*5 for i in range(11) if i %2==0]
print(a)

# n x m차원 리스트 초기화
m=5
n=4
array=[[0]*m for _ in range(n)]
print(array)
array[1][1]=2
print(array)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4
10
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[0, 10, 20, 30, 40, 50]
[0, 10, 20, 30, 40, 50]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [0, 2, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [119]:
#method
# append, sort, reverse, insert, count, remove
a=[1,4,3]
print(a)
a.append(2)
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a.remove(2)
print(a)

a.insert(0,2)
print(a)
a.reverse()
print(a)
print(a.count(1))

[1, 4, 3]
[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 1]
[2, 4, 3, 1]
[1, 3, 4, 2]
1

In [121]:
# remove_set 활용
a=[1,2,3,4,5,5,5]
remove_set={3,5}
result=[i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [125]:
# 문자열(특정 인덱스 값 변경 불가능)

data='Hello World'
print(data)

# 백슬래쉬로 따옴표 온전히 출력
data="Don't you know \"Python\"?"
print(data)

# 연산, 인덱싱, 슬라이싱
a='Hello'
b="World"
print(a+" "+b)

a="string"
print(a*3)

print(a[:3])


# 튜플
# 용도
# 1. 서로 다른 성질의 데이터를 묶어서 관리
# 2. 해싱의 키 값으로 사용해야 할 때(리스틑 불가능)
# 3. 리스트보다 메모리를 효율적으로 사용해야 할 때

a=(1,2,3,4,5,6,7,8,9)
print(a[3])
print(a[1:4])

Hello World
Don't you know "Python"?
Hello World
stringstringstring
str
4
(2, 3, 4)

In [135]:
# 사전자료형 (키: 값)
# 순차적인 저장이 아님, 데이터 조회 및 수정에 있어서 O(1) 상수 시간
# 키는 변경 불가능한 자료형(tuple 등)을 사용
data=dict()
data['사과']='Apple'
data['바나나']='Banana'
data['코코넛']='Coconut'
print(data)

print('사과' in data) # 상수시간 소요

#메서드
print(data.keys())
print(data.values())
for i in list(data.keys()):
    print(i)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
True
dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
사과
바나나
코코넛

In [143]:
# 집합 자료형(set)
# 중복 허용 x, 순서가 없음
# 데이터 조회 및 수정에 있어서 O(1) 상수시간에 처리

data=set([1,2,2,3,4,5,6,5,4])
print(data)
data={1,2,2,3,4,5,6,5,4}
print(data)

#추가 삭제 상수시간!
data.add(7)
print(data)
data.update([8,9,10])
print(data)
data.remove(3)
print(data)

#조회, 인덱싱 불가능, 키나 원소의 값으로 조회

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [147]:
# 입력 input, map
n=int(input())
a=list(map(int,input().split()))
print(a)

5
1 2 3 4 5
[1, 2, 3, 4, 5]

In [148]:
 a,b,c=map(int,input().split())
print(a,b,c)

1 2 3
1 2 3

In [150]:
# 입력을 빠르게 받아야 할 때
# sys.stdin.readline()
# rstrip()
import sys
data=sys.stdin.readline().rstrip()
print(data)

In [153]:
# 출력
a=1
b=2
print(a,b)
print(a, end=' '); print(b)

#f string
answer=7
print(f"정답은 {answer}입니다.")

1 2
1 2
정답은 7입니다.

In [154]:
# 반복문: for + continue , while break
# 함수 전역변수 사용 global
a=0
def func():
    global a
    a+=1

for i in range(10):
    func()
print(a)

# 리스트 객체의 내부 메서드 호출은 따로 전역변수 지정 안해줘도 가능

10

In [157]:
# map과 람다표현식으로 벡터연산 하기
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
result=map(lambda a,b: a+b,list1,list2)
print(list(result))

[7, 9, 11, 13, 15]

## 실전에서 유용한 표준 라이브러리

0. 내장함수 : sum(), min(), max(), eval(), sorted(data,key=,reverse=)
1. itertools:  순열permutaions(data,r), 조합combinations(), 중복순열product(), 중복조합combinations_with_replacement()
2. heapq
3. bisect
4. collections: Counter() dictionary 구조로 반환
5. math: gcd()최대공약수, -> 최소공배수 만들기, factorial()

## 문자열 다루기(포매팅, 정규표현식)