### built in function

In [3]:
dir([1,2,3,4])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
format(10000000,'0>020,.4f')

'0000010,000,000.0000'

In [15]:
def hojun(value):
    if value % 2==0:
        return True
    else:
        return False
list(filter(hojun,range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
list(filter(lambda x:x%2==0, range(20)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
[i for i in range(20) if i % 2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### map,zip

In [20]:
list(map(hojun,range(20)))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [22]:
list(map(lambda x:x**2,range(20)))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [25]:
list(zip(['a','b','c','d'],[1,2,3,4],'ABCD'))

[('a', 1, 'A'), ('b', 2, 'B'), ('c', 3, 'C'), ('d', 4, 'D')]

###  max,min

In [27]:
max([1,2,3,4])
min([1,2,3,4])

1

###  sort,reversed(),sorted()

In [30]:
l=[10,5,4,3,7,6]
l.sort()
l

[3, 4, 5, 6, 7, 10]

In [36]:
testCaseOne=['abc','def','hello world','hello','python']
testCaseTwo='Life is too short. You need python'.split()
testCaseThree=list(zip('anvfe',[1,2,3,4,5]))

print(sorted(testCaseOne, key=len, reverse=True))
print(sorted(testCaseTwo, key=str.lower))
print(sorted(testCaseThree, key=lambda x:x[1]))
print(sorted(testCaseThree, key=lambda x:x[0]))

['hello world', 'python', 'hello', 'abc', 'def']
['is', 'Life', 'need', 'python', 'short.', 'too', 'You']
[('a', 1), ('n', 2), ('v', 3), ('f', 4), ('e', 5)]
[('a', 1), ('e', 5), ('f', 4), ('n', 2), ('v', 3)]

In [38]:
5 not in [1,2,3,4,5]

False

In [39]:
l=[1,2,3,4,5]

In [41]:
dir(l)
#  'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [44]:
def listChange(x):
    x[0] =1000
    return x
l=[1,2,3,4,5]
print(listChange(l.copy()))
print(l)

[1000, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### pop, append

In [50]:
# 선입 선출 큐
l=[]
l.append(10)
l.append(20)
l.append(30)
l.pop(0)

10

In [51]:
# 후입 선출 스택
l=[]
l.append(10)
l.append(20)
l.append(30)
l.pop()

30

In [52]:
dir((1,2,3))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [56]:
dir({'one':'하나','two':'둘'})
d={'one':'하나','two':'둘'}
#  'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values'
d.keys()
d.values()
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [57]:
del d['one']

In [58]:
d

{'two': '둘'}

In [59]:
d['one']='하나'

In [60]:
d

{'two': '둘', 'one': '하나'}

In [62]:
s=set('11123434')
s

{'1', '2', '3', '4'}

In [70]:
dir(s)
# 'add',
#  'clear',
#  'copy',
#  'difference',  차집합
#  'difference_update',
#  'discard',
#  'intersection',
#  'intersection_update',
#  'isdisjoint',
#  'issubset',
#  'issuperset',
#  'pop',
#  'remove',
#  'symmetric_difference',
#  'symmetric_difference_update',
#  'union', 합집합
#  'update 다수의 원소 추가
s.add(7)
s
s.discard(7)
s
'1' in s

True

In [71]:
판콜에이={'A','B','C'}
타이레놀={'A','B','D'}
print(판콜에이.difference(타이레놀))
print(판콜에이.intersection(타이레놀))
print(len(판콜에이.intersection(타이레놀)))
print(판콜에이.union(타이레놀))

{'C'}
{'A', 'B'}
2
{'C', 'A', 'D', 'B'}

In [73]:
# 예제
serverData='개리 라이캣 개리 개리 라이캣 자바독 자바독 파이 썬'
len(set(serverData.split()))
d={}
for i in set(serverData.split()):
    print(i, serverData.split().count(i))
    d[i]=serverData.split().count(i)
d

자바독 2
썬 1
라이캣 2
개리 3
파이 1

{'자바독': 2, '썬': 1, '라이캣': 2, '개리': 3, '파이': 1}

In [75]:
for i in '1 2 3 4 5 6 7'.split():
    print(int(i))
    
[int(i) for i in '1 2 3 4 5 6 7'.split()]

list(map(int,'1 2 3 4 5 6 7'.split()))

1
2
3
4
5
6
7

[1, 2, 3, 4, 5, 6, 7]

In [78]:
l=[1,2,3,4,5]

## 시간복잡도

* 시간제한이 1초인 문제
1. N의 범위가 500인 경우: O(N^3)인 알고리즘을 설계
1. N의 범위가 2,000인 경우: O(N^2)인 알고리즘을 설계
1. N의 범위가 100,000인 경우: O(NlogN)인 알고리즘을 설계
1. N의 범위가 10,000,000인 경우: O(N)인 알고리즘을 설계

## 자료형

#### 정수형, 실수형, 복소수형, 문자열, 리스트, 튜플, 사전 등

In [80]:
# 정수형(integer)
a=100
a+1-1

100

In [92]:
# 실수형
a=1231.2
print(a)
a=-1231.2
print(a)

a=5.
print(a)

a=-.7
print(a)


# 지수표현 방식 => 자동 실수처리
# 1e9 = 10의 9제곱: inf를 1e9로 표현
print(1e9)
print(75.2e5)

# 정수형 데이터는 연산시 int 사용으로 오차 발생 줄이기
print(int(1e9))

# 실수형 데이터 오차 => round로 해결
print(0.3+0.6)
print(0.3+0.6==0.9)
print(round(0.3+0.6,2))

# 나눗셈 연산(/): 결과 실수형으로 반환
# %(나머지), //(몫)
print(7/3)
print(7%3)
print(7//3)
print(7**3)

1231.2
-1231.2
5.0
-0.7
1000000000.0
7520000.0
1000000000
0.8999999999999999
False
0.9
2.3333333333333335
1
2
343

In [188]:
# 리스트

a=list(range(1,11))
print(a)
#인덱싱
print(a[3])
print(a[-1])
# 슬라이싱
print(a[:-1])
print(a[:])
print(a[:11])
print(a[-10:])
print(a[-1:-10:-1])


# 반복되는 리스트 만들기 * 활용
a=[0]
print(a*10)

#리스트 컴프리헨션
a=[i*5 for i in range(11)]
print(a)

a=[i*5 for i in range(11) if i %2==0]
print(a)

a=[i*5 for i in range(11) if i %2==0]
print(a)

# else 값 if
a=[1,2,1,2,3]
print(["pass" if i==1 else "fail" if i==2 else "no" for i in a])


# n x m차원 리스트 초기화
m=5
n=4
array=[[0]*m for _ in range(n)]
print(array)
array[1][1]=2
print(array)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4
10
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[0, 10, 20, 30, 40, 50]
[0, 10, 20, 30, 40, 50]
['pass', 'fail', 'pass', 'fail', 'no']
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [0, 2, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [119]:
#method
# append, sort, reverse, insert, count, remove
a=[1,4,3]
print(a)
a.append(2)
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a.remove(2)
print(a)

a.insert(0,2)
print(a)
a.reverse()
print(a)
print(a.count(1))

[1, 4, 3]
[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 1]
[2, 4, 3, 1]
[1, 3, 4, 2]
1

In [121]:
# remove_set 활용
a=[1,2,3,4,5,5,5]
remove_set={3,5}
result=[i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [125]:
# 문자열(특정 인덱스 값 변경 불가능)

data='Hello World'
print(data)

# 백슬래쉬로 따옴표 온전히 출력
data="Don't you know \"Python\"?"
print(data)

# 연산, 인덱싱, 슬라이싱
a='Hello'
b="World"
print(a+" "+b)

a="string"
print(a*3)

print(a[:3])


# 튜플
# 용도
# 1. 서로 다른 성질의 데이터를 묶어서 관리
# 2. 해싱의 키 값으로 사용해야 할 때(리스틑 불가능)
# 3. 리스트보다 메모리를 효율적으로 사용해야 할 때

a=(1,2,3,4,5,6,7,8,9)
print(a[3])
print(a[1:4])

Hello World
Don't you know "Python"?
Hello World
stringstringstring
str
4
(2, 3, 4)

In [135]:
# 사전자료형 (키: 값)
# 순차적인 저장이 아님, 데이터 조회 및 수정에 있어서 O(1) 상수 시간
# 키는 변경 불가능한 자료형(tuple 등)을 사용
data=dict()
data['사과']='Apple'
data['바나나']='Banana'
data['코코넛']='Coconut'
print(data)

print('사과' in data) # 상수시간 소요

#메서드
print(data.keys())
print(data.values())
for i in list(data.keys()):
    print(i)
    
#setdefault
x={'a':10,'b':20,'c':30}
print(x)
x['aa']=40
print(x)
x.setdefault('d') #키 d가 추가, 값이 None 저장
print(x)

#fromkeys
li=['a','b','c']
d=dict.fromkeys(li)
print(d)

d2=dict.fromkeys(li, 10)
print(d2)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}
True
dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
사과
바나나
코코넛

In [143]:
# 집합 자료형(set)
# 중복 허용 x, 순서가 없음
# 데이터 조회 및 수정에 있어서 O(1) 상수시간에 처리

data=set([1,2,2,3,4,5,6,5,4])
print(data)
data={1,2,2,3,4,5,6,5,4}
print(data)

#추가 삭제 상수시간!
data.add(7)
print(data)
data.update([8,9,10])
print(data)
data.remove(3)
print(data)

#조회, 인덱싱 불가능, 키나 원소의 값으로 조회

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 4, 5, 6, 7, 8, 9, 10}

In [147]:
# 입력 input, map
n=int(input())
a=list(map(int,input().split()))
print(a)

5
1 2 3 4 5
[1, 2, 3, 4, 5]

In [148]:
 a,b,c=map(int,input().split())
print(a,b,c)

1 2 3
1 2 3

In [150]:
# 입력을 빠르게 받아야 할 때
# sys.stdin.readline()
# rstrip()
import sys
data=sys.stdin.readline().rstrip()
print(data)

In [153]:
# 출력
a=1
b=2
print(a,b)
print(a, end=' '); print(b)

#f string
answer=7
print(f"정답은 {answer}입니다.")

1 2
1 2
정답은 7입니다.

In [154]:
# 반복문: for + continue , while break
# 함수 전역변수 사용 global
a=0
def func():
    global a
    a+=1

for i in range(10):
    func()
print(a)

# 리스트 객체의 내부 메서드 호출은 따로 전역변수 지정 안해줘도 가능

10

In [157]:
# map과 람다표현식으로 벡터연산 하기
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
result=map(lambda a,b: a+b,list1,list2)
print(list(result))

[7, 9, 11, 13, 15]

## 실전에서 유용한 표준 라이브러리

0. 내장함수 : sum(), min(), max(), eval(), sorted(data,key=,reverse=)
1. itertools:  순열permutaions(data,r), 조합combinations(), 중복순열product(), 중복조합combinations_with_replacement()
2. heapq
3. bisect
4. collections: Counter() dictionary 구조로 반환
5. math: gcd()최대공약수, -> 최소공배수 만들기, factorial()

## 문자열 다루기(포매팅, 정규표현식)

In [ ]:
# # 축약형
# # \d : 숫자([0-9])와 같음
# # \D : not\d 의미, [^0-9]과 같음
# #
# # \s : 공백문자, 탭문자(\t), 엔터문자(\n) 등
# # \S : not 공백문자, 탭문자(\t), 엔터문자(\n) 등
# #
# # \w : 문자 + 숫자를 의미, [a-zA-z0-9_]과 같음
# # \W : not 문자 + 숫자를 의미, [^a-zA-z0-9_]과 같음

### 메소드
1. match
2. search
3. findall
4. finditer
5. sub

In [158]:
import re

In [160]:
res=re.findall("[a-z]+","7python8java9cpp") # 반복 가능한 객체로 리턴
for i in res:
    print(i)

python
java
cpp

In [159]:
res=re.finditer("[a-z]+","7python8java9cpp") # 반복 가능한 객체로 리턴
for i in res:
    print(i)
    print(i.start())
    print(i.end())
    print(i.span())
    print(i.group())

<re.Match object; span=(1, 7), match='python'>
1
7
(1, 7)
python
<re.Match object; span=(8, 12), match='java'>
8
12
(8, 12)
java
<re.Match object; span=(13, 16), match='cpp'>
13
16
(13, 16)
cpp

In [161]:
jumin="""
park 850b01-1234567
kim 950202-2345678
"""

In [165]:
import re #regular expression(정규 표현식 모듈)
p=re.compile("(\d{6})[-]\d{7}") #정규식 작성
# (): 그룹을 나타냄: 소괄호 2개 ((g1)g2)
# [기호], {문자개수}
print(p.sub('\g<1>-*******',jumin))
print(re.sub("(\d{6})[-]\d{7}",'\g<1>-*******',jumin))

park 850b01-1234567
kim 950202-*******


park 850b01-1234567
kim 950202-*******

In [169]:
# pat=str.makestrans(,)
# string.translate(pat)
s="Life is too short"
k=str.maketrans(' L',"$l")
s=s.translate(k)
print(s)

life$is$too$short

In [170]:
print("hello".zfill(10))
print("345".zfill(10))

print("apple pineapple".find('p'))
print("apple pineapple".find('pp'))
print("apple pineapple".find('pl'))

#  오른쪽부터 찾음, index는 앞에서부터
print("apple pineapple".rfind('p'))
print("apple pineapple".rfind('pp'))
print("apple pineapple".rfind('ip')) # 못찾으면 -1

00000hello
0000000345
1
1
2
12
11
-1

In [186]:
# replace
print('hello'.replace('l','k'))

# find 없으며 -1, index는 없으면 error
print('hello'.find('k'))
# format
print("I ate {0:.2} apples for {1}day." .format(5.453,'Mon'))

# join 문자열 리스트 결합
a=list("apple pineapple")
print("".join(a))

#eval

hekko
-1
I ate 5.5 apples for Monday.
apple pineapple

# 프로그래머스 고득점 kit

## 해시1번

In [227]:
#해시
participant=["mislav", "stanko", "mislav", "ana"]
completion=["stanko", "ana", "mislav"]


def solution(participant,completion):
    hashT={i:0 for i in participant}
    for i in participant:
        hashT[i]+=1
    for i in completion:
        hashT[i]-=1
        if hashT[i]==0:
            hashT.pop(i)
    return list(hashT.keys())[0]
solution(participant,completion)

'mislav'

In [226]:
#정렬
participant=["mislav", "stanko", "mislav", "ana"]
completion=["mislav", "ana", "mislav"]

def solution(participant,completion):
    key=sorted(participant)
    value=sorted(completion)
    t=list(zip(key,value))
    answer=[i for i,j in t if i!=j]
    if len(answer)==0:
        answer=key[-1]
        return answer
    return answer[0]
solution(participant,completion)

[('ana', 'ana'), ('mislav', 'mislav'), ('mislav', 'mislav')]

'stanko'

## 해시2번

In [251]:
import re

p=["123","456","789"]
def solution(p):
    import re
    import copy
    a=sorted(p,key=lambda x: len(x))
    b=copy.copy(a)
    for i in a:
        print(i)
        del b[0]
        for j in b:
            if re.match(i,j):
                return bool(False)
    return bool(True)
solution(p)

123
456
789

True

In [258]:
# startswith
def solution(phoneBook):
    
    phoneBook = sorted(phoneBook)

    for p1, p2 in zip(phoneBook, phoneBook[1:]):
        if p2.startswith(p1):
            return False
    return True

False

In [259]:
# 정규표현식
phone_book=["119", "97674223", "1195524421"]

def solution(phone_book):
    import re
    phone_book.sort()
    for p1, p2 in zip(phone_book, phone_book[1:]):
        if re.match(p1,p2):
            return False
    return True
solution(phone_book)

False

In [262]:
phone_book=["119", "97674223", "1195524421"]
def solution(phone_book):
    answer = True
    hash_map = {}
    for phone_number in phone_book:
        hash_map[phone_number] = 1
    for phone_number in phone_book:
        temp = ""
        for number in phone_number:
            temp += number
            if temp in hash_map and temp != phone_number:
                print(hash_map)
                answer = False
    print(hash_map)                
    return answer
solution(phone_book)

{'119': 1, '97674223': 1, '1195524421': 1}
{'119': 1, '97674223': 1, '1195524421': 1}

False

In [272]:
phone_book=["119", "97674223", "1195524421"]

def solution(phone_book):
    import re
    for i in set(phone_book):
        for j in set(phone_book).difference([i]):
            if re.match(i,j):
                return False
    return True
solution(phone_book)

False

In [271]:
phone_book=["119", "97674223", "1195524421"]

for i in set(phone_book).difference(['119']):
    print(i)

97674223
1195524421

In [275]:
import re
def solution(phone_book):
    answer = True
    hash_map = {}
    
    # 등장한 숫자들을 count 딕셔너리로 만듦
    for phone_number in phone_book:
        hash_map[phone_number] = 1
        
    # 다시 숫자들을 꺼낸뒤
    for i in phone_book:
        temp = ""
        for number in phone_number: #숫자 하나씩 뜯어보기
            temp += number
            print(temp)
            #딕셔너리 키로 같은게 있지만! 전체 숫자는 다른 경우!
            if temp in hash_map and temp != phone_number:
                print(hash_map)
                return False
    print(hash_map)
    return answer

solution(phone_book)

1
11
119
{'119': 1, '97674223': 1, '1195524421': 1}

False

In [20]:
p=["123","456","789"]

import re
def solution(p):
    hashT={i:1 for i in p}
    for number in p:
        nums=''
        for num in number:
            nums+=num
            if nums in hashT and nums!=number:
                return False
    return True
solution(p)

True

## 해시 3번

In [25]:
c=[["crowmask", "face"], ["bluesunglasses", "face"], ["smoky_makeup", "face"]]
import collections
import numpy as np
def solution(c):
    hashT=collections.defaultdict(int)
    for i in c:
        hashT[i[1]]+=1
    ans=int(np.prod([j+1 for i,j in hashT.items()])-1)
    # json은 numpy객체 이해를 못해서 에러나옴
    return ans
solution(c)

3

### 정렬1번

In [27]:
array=[1, 5, 2, 6, 3, 7, 4]
array[3:4]

[6]

In [29]:
array=[1, 5, 2, 6, 3, 7, 4]
commands=[[2, 5, 3], [4, 4, 1], [1, 7, 3]]
def solution(array, commands):
    ans=[]
    for i in commands:
        start,end,nth=i
        ans.append(sorted(array[start-1:end])[nth-1])
    return ans
solution(array,commands)

[5, 6, 3]

In [99]:
numbers=[3, 30, 34, 5, 9]
def solution(numbers):
    char=[str(i) for i in numbers]
    ans=sorted(char,key=lambda x:"{:.4}".format(x*3),reverse=True)

    return str(int("".join(ans))) # 0000예외 처리
solution(numbers)

'9534330'

### 깊이/너비 우선탐색 1번

In [138]:
numbers=[1, 1, 1, 1, 1]
target=3
from itertools import product
def solution(numbers, target):
    l = [(x, -x) for x in numbers]
    print(l)
    s = list(map(sum, product(*l)))
    return s.count(target)
solution(numbers,target)

[(1, -1), (1, -1), (1, -1), (1, -1), (1, -1)]

5

[(1, 1, 1, 1, 1),
 (1, 1, 1, 1, -1),
 (1, 1, 1, -1, 1),
 (1, 1, 1, -1, -1),
 (1, 1, -1, 1, 1),
 (1, 1, -1, 1, -1),
 (1, 1, -1, -1, 1),
 (1, 1, -1, -1, -1),
 (1, -1, 1, 1, 1),
 (1, -1, 1, 1, -1),
 (1, -1, 1, -1, 1),
 (1, -1, 1, -1, -1),
 (1, -1, -1, 1, 1),
 (1, -1, -1, 1, -1),
 (1, -1, -1, -1, 1),
 (1, -1, -1, -1, -1),
 (-1, 1, 1, 1, 1),
 (-1, 1, 1, 1, -1),
 (-1, 1, 1, -1, 1),
 (-1, 1, 1, -1, -1),
 (-1, 1, -1, 1, 1),
 (-1, 1, -1, 1, -1),
 (-1, 1, -1, -1, 1),
 (-1, 1, -1, -1, -1),
 (-1, -1, 1, 1, 1),
 (-1, -1, 1, 1, -1),
 (-1, -1, 1, -1, 1),
 (-1, -1, 1, -1, -1),
 (-1, -1, -1, 1, 1),
 (-1, -1, -1, 1, -1),
 (-1, -1, -1, -1, 1),
 (-1, -1, -1, -1, -1)]

### 스택/큐

In [51]:
bridge_length=2
weight=10
truck_weights=[7,4,5,6]
def solution(bridge_length, weight,truck_weights):
    crossed=[]
    crossing=[]
    i=0
    while truck_weights:
        if sum(crossing)+truck_weights[0]<=weight :
            temp=truck_weights.pop(0)
            crossing.append(temp)
        else: crossing.append(0)
        if len(crossing) >=bridge_length:
            temp=crossing.pop(0)
            if temp!=0:
                crossed.append(temp)
        i+=1   
    return i+bridge_length

In [52]:
solution(bridge_length, weight, truck_weights)

0 [] []
1 [7] []
2 [0] [7]
3 [4] [7]
4 [5] [7, 4]
5 [0] [7, 4, 5]

8

In [28]:
bridge_length=100
weight=100
truck_weights=[10,10,10,10,10,10,10,10,10,10]

In [29]:
truck_weights.pop(0)

10

In [30]:
truck_weights

[10, 10, 10, 10, 10, 10, 10, 10, 10]

In [31]:
sum([])

0