# plotnine

In [1]:
#!pip install plotnine

In [2]:
from plotnine import *
from dfply import *
import numpy as np
import pandas as pd

In [3]:
iris = pd.read_csv('data/iris.csv')

In [4]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
iris.variety.value_counts()

AttributeError: 'DataFrame' object has no attribute 'variety'

In [ ]:
(ggplot(iris, aes("sepal.length(cm)", "sepal.width(cm)"))+geom_point())

In [ ]:
(ggplot(iris, aes("sepal.length(cm)", "sepal.width(cm)"))+geom_line())

In [ ]:
(ggplot(iris, aes("sepal.length(cm)", "sepal.width(cm)", color="variety"))+geom_point(size=3))

In [ ]:
(ggplot(iris, aes("sepal.length(cm)", "sepal.width(cm)", color="variety"))+geom_point(aes(shape="variety"), size=3))

In [ ]:
(ggplot(iris, aes("sepal.length(cm)", "sepal.width(cm)"))+geom_point(aes(color="variety"), shape= ">",size=3))

In [ ]:
birthwt = pd.read_csv("data/birthwt.csv")

In [ ]:
birthwt.head()

In [ ]:
birthwt.dtypes

In [ ]:
(ggplot(birthwt , aes("race", "bwt")) + geom_boxplot())

In [ ]:

(ggplot(birthwt , aes("factor(race)", "bwt")) + geom_boxplot())

In [ ]:
(ggplot(birthwt , aes("factor(race)", "bwt", fill='race')) + geom_boxplot())

In [ ]:
birthwt['race'] = birthwt['race'].astype('object')
birthwt.dtypes

In [ ]:
(ggplot(birthwt , aes("race", "bwt", fill='race')) + geom_boxplot())

In [ ]:
(ggplot(birthwt, aes("bwt")) + 
 geom_histogram(color = "black", bins = 12))

In [ ]:
(ggplot(birthwt, aes("bwt")) + 
 geom_histogram(color = "black", bins = 20))

In [ ]:
(ggplot(birthwt, aes("bwt")) + 
    geom_histogram(binwidth = 100, fill = "steelblue", color = "black"))

In [ ]:
climate = pd.read_csv("data/climate.csv")
climate.head()

In [ ]:
climate.describe

In [ ]:
climate.shape

In [ ]:
climate.dtypes

In [ ]:
climate= climate.rename(columns={'Anomaly 1y' : 'Anomaly1y',
                                'Anomaly 5y' : 'Anomaly5y',
                                'Anomaly 10y' : 'Anomaly10y',
                                'Unc 10y' : 'Unc10y',})

In [ ]:
climate.columns

In [ ]:
(ggplot(climate, aes("Year", "Anomaly10y")) +
 geom_line())

In [ ]:
(ggplot(climate, aes("Year", "Anomaly10y")) +
     geom_line() +
     geom_point(color = "red", alpha = 0.5))

In [ ]:
(ggplot(climate, aes("Year", "Anomaly10y")) +
     geom_line() +
     geom_point(color = "red", alpha = 0.1))

In [ ]:
climate['ymin'] = climate['Anomaly10y'] - climate['Unc10y']
climate['ymax'] = climate['Anomaly10y'] + climate['Unc10y']
climate.head()

In [ ]:
(ggplot(climate, aes('Year', 'Anomaly10y')) + 
     geom_ribbon(aes(ymin ='ymin', ymax = 'ymax'), fill = "blue", alpha = .2) +
     geom_line(color = "steelblue"))

In [ ]:
(ggplot(climate, aes('Year', 'Anomaly10y')) +
     geom_line(size = 0.7, color = "black") + 
     geom_line(aes('Year', 'ymin'), linetype = "dashed", size = 0.7, color = "red") + 
     geom_line(aes('Year', 'ymax'), linetype = "dashed", size = 0.7, color = "red"))

In [ ]:
(ggplot(climate, aes('Year', 'Anomaly10y')) +
    geom_area(fill="skyblue", alpha=0.5) +
    geom_line(color = "orange"))

In [4]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75