# 3-1 Numpy

1.3 Numpy import

In [1]:
import numpy as np

2.1 리스트를 사용하여 numpy array 만들기

In [2]:
list1 = [7, 2, 9, 10]
print(list1)
print(type(list1))

[7, 2, 9, 10]
<class 'list'>

In [3]:
array1 = np.array(list1)
print(array1)
print(type(array1))

[ 7  2  9 10]
<class 'numpy.ndarray'>

In [4]:
list2 = [[5.2, 3.0, 4.5], [9.1, 0.1, 0.3]]
print(list2)
print(type(list2))

[[5.2, 3.0, 4.5], [9.1, 0.1, 0.3]]
<class 'list'>

In [5]:
array2 = np.array(list2)
print(array2)
print(type(array2))

[[5.2 3.  4.5]
 [9.1 0.1 0.3]]
<class 'numpy.ndarray'>

list.shape

In [6]:
array1.shape

(4,)

In [7]:
array2.shape

(2, 3)

In [8]:
a = np.array([1,2,3,4])
print(a)
print(type(a))
print(a.shape)

[1 2 3 4]
<class 'numpy.ndarray'>
(4,)

In [9]:
b = np.array([1,2,3,4])
print(b)
print(type(b))
print(b.shape)

[1 2 3 4]
<class 'numpy.ndarray'>
(4,)

In [10]:
a = np.array([[1,2,3,4]])
print(a)
print(type(a))
print(a.shape)

[[1 2 3 4]]
<class 'numpy.ndarray'>
(1, 4)

# Transpose
np.transpose()
.T

In [11]:
a = np.array([[1,2,3,4]])
print(a)
print(a.T)
print(np.transpose(a))

[[1 2 3 4]]
[[1]
 [2]
 [3]
 [4]]
[[1]
 [2]
 [3]
 [4]]

In [12]:
print(b)
print(b.T)

[1 2 3 4]
[1 2 3 4]

In [13]:
array3 = np.array([[[0,1],[2,3],[4,5]],
                  [[6,7],[8,9],[10,11]],
                  [[12,13],[14,15],[16,17]],
                  [[18,19],[20,21],[22,23]]])
print(array3)
print(array3.shape)

[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]

 [[12 13]
  [14 15]
  [16 17]]

 [[18 19]
  [20 21]
  [22 23]]]
(4, 3, 2)

In [14]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
a=np.arange(1,10,2)
a.shape

(5,)

# reshape

In [17]:
a = np.arange(1,11)
a.shape

(10,)

In [18]:
b=a.reshape(2,5)
b.shape
print(b)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [19]:
c=a.reshape(5,2)
print(c)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]

In [20]:
d = c.reshape(10,)
print(d)
print(d.shape)
a==d

[ 1  2  3  4  5  6  7  8  9 10]
(10,)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

# np.ravel
,np.reshape의 반대 기능 => 1차원 array로 만들어주기
order = 'C' row 우선 변경(기본값)
order = 'F' column 우선 변경

In [21]:
a = np.arange(1,11)
b = a.reshape(2,5)
print(a)
print(b)
print(np.ravel(b))
print(np.ravel(b,order='F'))

[ 1  2  3  4  5  6  7  8  9 10]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
[ 1  2  3  4  5  6  7  8  9 10]
[ 1  6  2  7  3  8  4  9  5 10]

In [22]:
a = np.arange(1,13)
b = a.reshape(2,2,3)
print(b)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

In [23]:
print(np.ravel(b,order='F'))
print(np.ravel(b,order='c'))

[ 1  7  4 10  2  8  5 11  3  9  6 12]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

# 2.3 numpy에서 제공하는 함수를 사용하여 numpy array 만들기
numpy에서 제공하는 함수를 사용하여 numpy array를 만들 수 있음
이러한 기능을 제공하는 함수로는 zeros(), ones(), full(), eye() 등이 있음
zeros() : 모든 값이 0인 array 생성
ones() : 모든 값이 1인 array 생성
full() : 사용자가 지정한 특정 값을 모든 값으로 하는 array 생성
eye() : 대각선으로는 1이고 나머지는 0인 2차원 array 생성(단위 행렬이라고 함)
numpy array의 값을 모두 0으로 대체하고 싶을 때는 zeros_like() 함수를 사용함

In [24]:
np.zeros((2,2))

array([[0., 0.],
       [0., 0.]])

In [25]:
np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [26]:
np.full((2,2),5)

array([[5, 5],
       [5, 5]])

In [27]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [28]:
x=np.array([[2,3,4],[6,5,4]])
print(x)

[[2 3 4]
 [6 5 4]]

In [29]:
np.zeros_like(x)

array([[0, 0, 0],
       [0, 0, 0]])

# random 서브모듈 함수rand 함수를 통해 난수 생성
 
## np.random.rand(2,2,3)
0,1 사이의 균일 분포에서 난수 matrix array 생성

## np.random.randn(3,3,3)
평균0, 분산1의 표준정규분포 난수 matrix array 생성

In [30]:
np.random.rand(2,2,3)

array([[[0.73303673, 0.09020266, 0.37907606],
        [0.2449674 , 0.6150995 , 0.24991133]],

       [[0.79000467, 0.48470037, 0.64440382],
        [0.28177927, 0.55770952, 0.19948183]]])

In [31]:
np.random.randn(3,3,3)

array([[[-0.99676265, -0.18843062, -0.51646833],
        [ 0.07192181,  0.35967882,  0.06953642],
        [ 0.28036756,  0.50986263,  1.39970615]],

       [[ 0.50734322, -1.60421588, -0.68569317],
        [ 0.26898588,  0.04110289, -0.33858194],
        [ 0.35345706, -1.42735732, -0.49529429]],

       [[-0.43948013, -1.12789884, -0.58350738],
        [-0.75340961,  0.33975771,  1.92833003],
        [ 0.3710866 ,  1.8094247 ,  0.73244138]]])

# seed 

## np.random.seed(2020)
## np.random.randn(3,3,3)

랜덤한 값 동일하게 다시 생성할 때 사용

In [32]:
np.random.seed(2020)
np.random.randn(3,3,3)

array([[[-1.76884571,  0.07555227, -1.1306297 ],
        [-0.65143017, -0.89311563, -1.27410098],
        [-0.06115443,  0.06451384,  0.41011295]],

       [[-0.57288249, -0.80133362,  1.31203519],
        [ 1.27469887, -1.2143576 ,  0.31371941],
        [-1.44482142, -0.3689613 , -0.76922658]],

       [[ 0.3926161 ,  0.05729383,  2.08997884],
        [ 0.04197131, -0.04834072, -0.51315392],
        [-0.08458928, -1.21545008, -1.41293073]]])

In [33]:
np.random.randn(3,3,3) #다름

array([[[-1.48691055,  0.38222486,  0.937673  ],
        [ 1.77267804,  0.87882801,  0.33171912],
        [-0.30603567,  1.24026615, -0.21562684]],

       [[ 0.15592948,  0.09805553,  0.83209585],
        [ 2.04520542, -0.31681392, -1.31283291],
        [-1.75445746,  0.10209408, -1.36150208]],

       [[ 0.48178488, -0.20832874, -0.09186351],
        [ 0.70268816,  0.10365506,  0.62123638],
        [ 0.95411497,  2.03781352, -0.48445122]]])

In [34]:
np.random.seed(2020) 
np.random.randn(3,3,3)

array([[[-1.76884571,  0.07555227, -1.1306297 ],
        [-0.65143017, -0.89311563, -1.27410098],
        [-0.06115443,  0.06451384,  0.41011295]],

       [[-0.57288249, -0.80133362,  1.31203519],
        [ 1.27469887, -1.2143576 ,  0.31371941],
        [-1.44482142, -0.3689613 , -0.76922658]],

       [[ 0.3926161 ,  0.05729383,  2.08997884],
        [ 0.04197131, -0.04834072, -0.51315392],
        [-0.08458928, -1.21545008, -1.41293073]]])

# choice 함수(랜덤 샘플링)

## np.random.choice(array, size=(), replace= T/F)

### replace = True 복원추출(기본값)
### replace = False 비복원추출

In [35]:
x=np.arange(1,50)
np.random.choice(x, size=(2,3,3), replace=False)
np.random.choice(x, size=(2,3,3), replace=True) #중복된 원소 가능

array([[[37, 14,  7],
        [45, 48, 31],
        [10, 14, 22]],

       [[14, 19, 15],
        [11, 28, 21],
        [36, 33, 10]]])

# 슬라이싱
1. 각 차원별 범위 지정
2. 차원의 수만큼 범위를 지정해줘야함
3. ex) 3차원이면 범위지정 총 3개
4. shape 의 element 개수가 차원의 수

In [36]:
x=np.arange(3,15)
y= x.reshape(3,2,2)
print(y)
y[:2,:,0]

[[[ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]]

 [[11 12]
  [13 14]]]

array([[3, 5],
       [7, 9]])

# 3.2 인덱싱

# 정수 인덱싱

### a[[row1, row2], [col1, col2]] => a[row1, col1] 과 a[row2, col2] 
### 입력                                               출력    

1. array 요소의 인덱스들을 일렬로 나열하여 부분집합을 구하는 방식임
    (범위지정 불가능)

2. 즉, 임의의 numpy array a에 대해 a[[row1, row2], [col1, col2]] 와 같이 표현하는 것인데, 이는 a[row1, col1] 과 a[row2, col2] 라는 두 개의 array 요소의 집합을 의미함

In [37]:
lst = [[1, 2, 3, 4],
       [5, 6, 7, 8],
       [9, 10, 11, 12]]
a = np.array(lst)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [38]:
s = a[[0,1,2],[1,2,3]]
s

array([ 2,  7, 12])

# 부울린 인덱싱

## a[bool_indexing_array]

### bool_indexing = (a % 2 == 0)

In [39]:
a = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

 
bool_indexing_array = np.array([[False,  True, False],
                                [True,  False,  True],
                                [False,  True, False]])

 
a[bool_indexing_array]

array([2, 4, 6, 8])

4. 부울린 인덱싱 array에 True/False 값을 일일이 지정하는 방법 이외에 표현식을 사용하여 부울린 인덱싱 array를 생성하는 방법이 있음

ex) bool_indexing = (a % 2 == 0) 와 같이 표현할 수 있음

In [40]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [41]:
b=a[a%2==0]
b.reshape(2,2)

array([[2, 4],
       [6, 8]])

## 다중조건 사용하기 ( & ,| )

### a[(a%2==0) & (a > 8)]

In [42]:
a=np.arange(1,17)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [43]:
a.reshape(2,2,4)

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

In [44]:
a[(a%2==0) & (a > 8)]

array([10, 12, 14, 16])

In [45]:
a[(a%2==0) | (a % 3==0)]

array([ 2,  3,  4,  6,  8,  9, 10, 12, 14, 15, 16])

# 4. 연산

## 4-1 기본연산

### np.add(), np.subtract(), np.multiply(), np.divide()

In [46]:
a= np.array([1,2,3])
b= np.array([2,2,9])
print(a+b)
np.add(a,b)

[ 3  4 12]

array([ 3,  4, 12])

In [47]:
a-b

array([-1,  0, -6])

In [48]:
np.subtract(a,b)

array([-1,  0, -6])

In [49]:
a*b

array([ 2,  4, 27])

In [50]:
np.multiply(a,b)

array([ 2,  4, 27])

In [51]:
print(a / b)
print(np.divide(a, b))

[0.5        1.         0.33333333]
[0.5        1.         0.33333333]

## 4.2 행렬 곱 연산
### np.dot()

1. numpy에서 matrix의 product를 구하기 위해서 dot() 함수를 사용함
2. 아래 예제는 두 matrix의 product를 구한 예시

In [52]:
a=np.arange(1,5)
a= a.reshape(2,2)
a

b=np.arange(2,6)
b= b.reshape(2,2)
b

c= np.dot(a,b)
c

array([[10, 13],
       [22, 29]])

## 4.3 기준이 있는 연산

### np.sum() , np.prod(), np.mean()

###  (axis=0 : 열방향, axis=1: 행방향)

In [53]:
a = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [54]:
print(np.sum(a,axis=0))
np.sum(a,axis=1)

[12 15 18]

array([ 6, 15, 24])

In [55]:
np.prod(a,axis=0)

array([ 28,  80, 162])

In [56]:
np.prod(a)

362880

In [57]:
a.prod(axis=1)

array([  6, 120, 504])

In [58]:
a.mean()

5.0

##  4.4 array에 nan이 있을 때 연산

### nansum() : nan을 제외하고 연산

In [59]:
a= np.array([[1,2],[2,np.nan]])
a

array([[ 1.,  2.],
       [ 2., nan]])

In [60]:
a.sum()

nan

In [61]:
print(np.nansum(a))

5.0

## 5.기타함수 where()

### where(조건, 만족할 때의 출력 값, 만족하지 않을 때의 출력 값)

In [62]:
import numpy as np
np.random.seed(0)
a = np.random.randn(2,3,2)
a

array([[[ 1.76405235,  0.40015721],
        [ 0.97873798,  2.2408932 ],
        [ 1.86755799, -0.97727788]],

       [[ 0.95008842, -0.15135721],
        [-0.10321885,  0.4105985 ],
        [ 0.14404357,  1.45427351]]])

In [63]:
np.where(a > 0, 1, -1)

array([[[ 1,  1],
        [ 1,  1],
        [ 1, -1]],

       [[ 1, -1],
        [-1,  1],
        [ 1,  1]]])

In [64]:
np.where( a>0, a, 0)

array([[[1.76405235, 0.40015721],
        [0.97873798, 2.2408932 ],
        [1.86755799, 0.        ]],

       [[0.95008842, 0.        ],
        [0.        , 0.4105985 ],
        [0.14404357, 1.45427351]]])

In [65]:
np.random.seed(0)
a = np.random.randn(2,3,2)
a

array([[[ 1.76405235,  0.40015721],
        [ 0.97873798,  2.2408932 ],
        [ 1.86755799, -0.97727788]],

       [[ 0.95008842, -0.15135721],
        [-0.10321885,  0.4105985 ],
        [ 0.14404357,  1.45427351]]])

# 3-2 pandas (Series, Dataframe)

In [66]:
import pandas as pd

# 1. Series(1차원)

## pd.Series([요소],[인덱스])

In [67]:
s1=pd.Series(["a","b","c"])

In [68]:
print(s1)

0    a
1    b
2    c
dtype: object

In [69]:
s1=pd.Series(["a","b","c"],index=range(1,4))
print(s1)

1    a
2    b
3    c
dtype: object

In [70]:
s5 = pd.Series([1,2,3],["a","b","c"])
s5

a    1
b    2
c    3
dtype: int64

In [71]:
s5 = pd.Series([1,2,3],range(2,5))
s5

2    1
3    2
4    3
dtype: int64

In [72]:
s5.values

array([1, 2, 3], dtype=int64)

In [73]:
s5.index

RangeIndex(start=2, stop=5, step=1)

In [74]:
s5.index=["a","b","c"]
s5.index

Index(['a', 'b', 'c'], dtype='object')

# 2. DataFrame(2차원), dict형태 가능

## pd.DataFrame([요소], columns=[index])
## pd.DataFrame({'A':1,'B':np.array(range(3,7)})

In [75]:
import numpy as np
ex=pd.DataFrame({'A':1,'B':np.array(range(3,7))})

In [76]:
ex

   A  B
0  1  3
1  1  4
2  1  5
3  1  6

In [77]:
ex.describe()

         A         B
count  4.0  4.000000
mean   1.0  4.500000
std    0.0  1.290994
min    1.0  3.000000
25%    1.0  3.750000
50%    1.0  4.500000
75%    1.0  5.250000
max    1.0  6.000000

# 3. DataFrame 병합하기

## pd.concat() 

###  pd.concat([df1,df2], axis=0/1, ignore_index=True/False)
### default: axis=0(행단위), ignore_index=False

In [78]:
df1 = pd.DataFrame({'key' : list('ABCDE'),
                    'value' : np.random.randn(5)})
df1
df1.dtypes

key       object
value    float64
dtype: object

In [79]:
df2 = pd.DataFrame({'key' : list('ABCXZ'),
                    'value' : np.random.randn(5)})
df2

  key     value
0   A -0.205158
1   B  0.313068
2   C -0.854096
3   X -2.552990
4   Z  0.653619

In [80]:
print(pd.concat([df1, df2])) # axis=0(기본값) 행단위 병합
pd.concat([df1, df2],1)      # axis=1 열단위 병합

  key     value
0   A  0.761038
1   B  0.121675
2   C  0.443863
3   D  0.333674
4   E  1.494079
0   A -0.205158
1   B  0.313068
2   C -0.854096
3   X -2.552990
4   Z  0.653619

  key     value key     value
0   A  0.761038   A -0.205158
1   B  0.121675   B  0.313068
2   C  0.443863   C -0.854096
3   D  0.333674   X -2.552990
4   E  1.494079   Z  0.653619

In [81]:
print(pd.concat([df1, df2], axis=0, ignore_index=False))  #default 는 False
print(pd.concat([df1, df2], axis=0, ignore_index=True))
print(pd.concat([df1, df2]).reset_index())

  key     value
0   A  0.761038
1   B  0.121675
2   C  0.443863
3   D  0.333674
4   E  1.494079
0   A -0.205158
1   B  0.313068
2   C -0.854096
3   X -2.552990
4   Z  0.653619
  key     value
0   A  0.761038
1   B  0.121675
2   C  0.443863
3   D  0.333674
4   E  1.494079
5   A -0.205158
6   B  0.313068
7   C -0.854096
8   X -2.552990
9   Z  0.653619
   index key     value
0      0   A  0.761038
1      1   B  0.121675
2      2   C  0.443863
3      3   D  0.333674
4      4   E  1.494079
5      0   A -0.205158
6      1   B  0.313068
7      2   C -0.854096
8      3   X -2.552990
9      4   Z  0.653619

In [82]:
df2.columns = ['key','value2']
print(df1)
print(df2)  # index가 일치하지 않는 상황

  key     value
0   A  0.761038
1   B  0.121675
2   C  0.443863
3   D  0.333674
4   E  1.494079
  key    value2
0   A -0.205158
1   B  0.313068
2   C -0.854096
3   X -2.552990
4   Z  0.653619

In [83]:
print(pd.concat([df1,df2],axis=0))
print(pd.concat([df1,df2],axis=1))
print(pd.concat([df1,df2],ignore_index=True))
print(pd.concat([df1,df2],axis=1,ignore_index=True))

  key     value    value2
0   A  0.761038       NaN
1   B  0.121675       NaN
2   C  0.443863       NaN
3   D  0.333674       NaN
4   E  1.494079       NaN
0   A       NaN -0.205158
1   B       NaN  0.313068
2   C       NaN -0.854096
3   X       NaN -2.552990
4   Z       NaN  0.653619
  key     value key    value2
0   A  0.761038   A -0.205158
1   B  0.121675   B  0.313068
2   C  0.443863   C -0.854096
3   D  0.333674   X -2.552990
4   E  1.494079   Z  0.653619
  key     value    value2
0   A  0.761038       NaN
1   B  0.121675       NaN
2   C  0.443863       NaN
3   D  0.333674       NaN
4   E  1.494079       NaN
5   A       NaN -0.205158
6   B       NaN  0.313068
7   C       NaN -0.854096
8   X       NaN -2.552990
9   Z       NaN  0.653619
   0         1  2         3
0  A  0.761038  A -0.205158
1  B  0.121675  B  0.313068
2  C  0.443863  C -0.854096
3  D  0.333674  X -2.552990
4  E  1.494079  Z  0.653619

# pd.merge(df1,df2, on="index", how="inner...")

### on : 기준이되는 key값 명시
### how :
   #### inner : 기본값, 일치하는 값이 있는 경우
   #### left : 왼쪽 데이터 기준으로 병합(기준 키 값=df1 키)
   #### right : 오른쪽 데이터 기준으로 병합(기준 키 값=df2키)
   #### outer : 모든 경우의수 출력

In [84]:
df1
df2
print("outer","="*50)

print(pd.merge(df1,df2,on='key',how='outer'))
print("inner","="*50)
print(pd.merge(df1,df2,on='key',how='inner'))
print("left","="*50)

print(pd.merge(df1,df2,on='key',how='left'))
print("right","="*50)

print(pd.merge(df1,df2,on='key',how='right'))
print("="*50)

outer ==================================================
  key     value    value2
0   A  0.761038 -0.205158
1   B  0.121675  0.313068
2   C  0.443863 -0.854096
3   D  0.333674       NaN
4   E  1.494079       NaN
5   X       NaN -2.552990
6   Z       NaN  0.653619
inner ==================================================
  key     value    value2
0   A  0.761038 -0.205158
1   B  0.121675  0.313068
2   C  0.443863 -0.854096
left ==================================================
  key     value    value2
0   A  0.761038 -0.205158
1   B  0.121675  0.313068
2   C  0.443863 -0.854096
3   D  0.333674       NaN
4   E  1.494079       NaN
right ==================================================
  key     value    value2
0   A  0.761038 -0.205158
1   B  0.121675  0.313068
2   C  0.443863 -0.854096
3   X       NaN -2.552990
4   Z       NaN  0.653619
==================================================

In [85]:
df = pd.read_csv("C:/Users/19178/TIL/AI_study/data/iris.csv")
df.shape

(150, 5)

In [86]:
df.head(6)

,sepal.length(cm),sepal.width(cm),petal.length(cm),petal.width(cm),variety
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
5,5.4,3.9,1.7,0.4,Setosa

In [87]:
df.tail()

,sepal.length(cm),sepal.width(cm),petal.length(cm),petal.width(cm),variety
145,6.7,3.0,5.2,2.3,Virginica
146,6.3,2.5,5.0,1.9,Virginica
147,6.5,3.0,5.2,2.0,Virginica
148,6.2,3.4,5.4,2.3,Virginica
149,5.9,3.0,5.1,1.8,Virginica

In [88]:
df.describe()

       sepal.length(cm)  sepal.width(cm)  petal.length(cm)  petal.width(cm)
count        150.000000       150.000000        150.000000       150.000000
mean           5.843333         3.057333          3.758000         1.199333
std            0.828066         0.435866          1.765298         0.762238
min            4.300000         2.000000          1.000000         0.100000
25%            5.100000         2.800000          1.600000         0.300000
50%            5.800000         3.000000          4.350000         1.300000
75%            6.400000         3.300000          5.100000         1.800000
max            7.900000         4.400000          6.900000         2.500000

In [89]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [90]:
df.columns

Index(['sepal.length(cm)', 'sepal.width(cm)', 'petal.length(cm)',
       'petal.width(cm)', 'variety'],
      dtype='object')

In [91]:
df.values

array([[5.1, 3.5, 1.4, 0.2, 'Setosa'],
       [4.9, 3.0, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.3, 0.2, 'Setosa'],
       [4.6, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Setosa'],
       [5.4, 3.9, 1.7, 0.4, 'Setosa'],
       [4.6, 3.4, 1.4, 0.3, 'Setosa'],
       [5.0, 3.4, 1.5, 0.2, 'Setosa'],
       [4.4, 2.9, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Setosa'],
       [5.4, 3.7, 1.5, 0.2, 'Setosa'],
       [4.8, 3.4, 1.6, 0.2, 'Setosa'],
       [4.8, 3.0, 1.4, 0.1, 'Setosa'],
       [4.3, 3.0, 1.1, 0.1, 'Setosa'],
       [5.8, 4.0, 1.2, 0.2, 'Setosa'],
       [5.7, 4.4, 1.5, 0.4, 'Setosa'],
       [5.4, 3.9, 1.3, 0.4, 'Setosa'],
       [5.1, 3.5, 1.4, 0.3, 'Setosa'],
       [5.7, 3.8, 1.7, 0.3, 'Setosa'],
       [5.1, 3.8, 1.5, 0.3, 'Setosa'],
       [5.4, 3.4, 1.7, 0.2, 'Setosa'],
       [5.1, 3.7, 1.5, 0.4, 'Setosa'],
       [4.6, 3.6, 1.0, 0.2, 'Setosa'],
       [5.1, 3.3, 1.7, 0.5, 'Setosa'],
       [4.8, 3.4, 1.9, 0.2, 'Setosa'],
       [5.0, 3.0, 1.6, 0.2, 'Setosa'],
       [5.0, 3.4, 1.6, 0.4, 'Setosa'],
       [5.2, 3.5, 1.5, 0.2, 'Setosa'],
       [5.2, 3.4, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.6, 0.2, 'Setosa'],
       [4.8, 3.1, 1.6, 0.2, 'Setosa'],
       [5.4, 3.4, 1.5, 0.4, 'Setosa'],
       [5.2, 4.1, 1.5, 0.1, 'Setosa'],
       [5.5, 4.2, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.2, 1.2, 0.2, 'Setosa'],
       [5.5, 3.5, 1.3, 0.2, 'Setosa'],
       [4.9, 3.6, 1.4, 0.1, 'Setosa'],
       [4.4, 3.0, 1.3, 0.2, 'Setosa'],
       [5.1, 3.4, 1.5, 0.2, 'Setosa'],
       [5.0, 3.5, 1.3, 0.3, 'Setosa'],
       [4.5, 2.3, 1.3, 0.3, 'Setosa'],
       [4.4, 3.2, 1.3, 0.2, 'Setosa'],
       [5.0, 3.5, 1.6, 0.6, 'Setosa'],
       [5.1, 3.8, 1.9, 0.4, 'Setosa'],
       [4.8, 3.0, 1.4, 0.3, 'Setosa'],
       [5.1, 3.8, 1.6, 0.2, 'Setosa'],
       [4.6, 3.2, 1.4, 0.2, 'Setosa'],
       [5.3, 3.7, 1.5, 0.2, 'Setosa'],
       [5.0, 3.3, 1.4, 0.2, 'Setosa'],
       [7.0, 3.2, 4.7, 1.4, 'Versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'Versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'Versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'Versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'Versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'Versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'Versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'Versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'Versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'Versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'Versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'Versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'Versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'Versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'Versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'Versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'Versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'Versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'Versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'Versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'Versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'Versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'Versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'Versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'Versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'Versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'Versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'Versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'Versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'Versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'Versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'Versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'Versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'Versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'Versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'Versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'Versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'Versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'Versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'Versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'Versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'Versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'Versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'Versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'Versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'Versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'Versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'Versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Virginica']], dtype=object)

In [92]:
df.dtypes

sepal.length(cm)    float64
sepal.width(cm)     float64
petal.length(cm)    float64
petal.width(cm)     float64
variety              object
dtype: object

In [93]:
df[['sepal.length(cm)','sepal.width(cm)']]=df[['sepal.length(cm)','sepal.width(cm)']].astype(object)
df.dtypes

sepal.length(cm)     object
sepal.width(cm)      object
petal.length(cm)    float64
petal.width(cm)     float64
variety              object
dtype: object

In [94]:
df[['sepal.length(cm)','sepal.width(cm)']]=df[['sepal.length(cm)','sepal.width(cm)']].astype(int)
df.dtypes

sepal.length(cm)      int32
sepal.width(cm)       int32
petal.length(cm)    float64
petal.width(cm)     float64
variety              object
dtype: object

In [95]:
df[['sepal.length(cm)','sepal.width(cm)']]=df[['sepal.length(cm)','sepal.width(cm)']].astype(float)
df.dtypes

sepal.length(cm)    float64
sepal.width(cm)     float64
petal.length(cm)    float64
petal.width(cm)     float64
variety              object
dtype: object

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sepal.length(cm)  150 non-null    float64
 1   sepal.width(cm)   150 non-null    float64
 2   petal.length(cm)  150 non-null    float64
 3   petal.width(cm)   150 non-null    float64
 4   variety           150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# 데이터 전처리

### df.rename(columns={"oldnames":"newname,...})

   #### column 이름 변경

### df.to_csv("../data/iris_v2.csv", index=False) 

   ####  iris_v2.csv를이름으로 csv 파일 저장
   ####  index=True?(index 새로 만들어서 추가(unnamed))

In [97]:
df = df.rename(columns={'sepal.length(cm)': 'sepal length', 'sepal.width(cm)': 'sepal width',
                        'petal.length(cm)' : 'petal length', 'petal.width(cm)': 'petal width',
                        'variety' : 'species'})
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width',
       'species'],
      dtype='object')

In [98]:

df = pd.read_csv("C:/Users/19178/TIL/AI_study/data/iris_v2.csv")
df.head()

   sepal length  sepal width  petal length  petal width species
0             5            3           1.4          0.2  Setosa
1             4            3           1.4          0.2  Setosa
2             4            3           1.3          0.2  Setosa
3             4            3           1.5          0.2  Setosa
4             5            3           1.4          0.2  Setosa

# dataframe column 선택


### df["column"]: Series 로 반환

### df[["column"]]: DataFrame 으로 반환

In [99]:
df.columns[0]

'sepal length'

In [100]:
df[df.columns[0]].head(5)

0    5
1    4
2    4
3    4
4    5
Name: sepal length, dtype: int64

In [101]:
df["sepal width"]

0      3
1      3
2      3
3      3
4      3
      ..
145    3
146    2
147    3
148    3
149    3
Name: sepal width, Length: 150, dtype: int64

In [102]:
df[["sepal width"]]

     sepal width
0              3
1              3
2              3
3              3
4              3
..           ...
145            3
146            2
147            3
148            3
149            3

[150 rows x 1 columns]

In [103]:
print(type(df["sepal width"]))
print(type(df[["sepal width"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# dataframe row 선택

### 1. df[0:5]  (슬라이싱)

### 2. df.loc[[index,..],["column1", "column2"..]]

### 3. df.iloc[[0,1,2,3],[2,3,4,5]]   (zero index based)

In [104]:
df.head()

   sepal length  sepal width  petal length  petal width species
0             5            3           1.4          0.2  Setosa
1             4            3           1.4          0.2  Setosa
2             4            3           1.3          0.2  Setosa
3             4            3           1.5          0.2  Setosa
4             5            3           1.4          0.2  Setosa

In [105]:
df[:5]

   sepal length  sepal width  petal length  petal width species
0             5            3           1.4          0.2  Setosa
1             4            3           1.4          0.2  Setosa
2             4            3           1.3          0.2  Setosa
3             4            3           1.5          0.2  Setosa
4             5            3           1.4          0.2  Setosa

In [106]:
df.loc[0]

sepal length         5
sepal width          3
petal length       1.4
petal width        0.2
species         Setosa
Name: 0, dtype: object

In [107]:
df.loc[[0]]

   sepal length  sepal width  petal length  petal width species
0             5            3           1.4          0.2  Setosa

In [108]:
print(type(df.loc[0]))
print(type(df.loc[[0]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [109]:
df.index = df.index + 100
df.loc[[100]]

     sepal length  sepal width  petal length  petal width species
100             5            3           1.4          0.2  Setosa

In [110]:
df.iloc[[0]]

     sepal length  sepal width  petal length  petal width species
100             5            3           1.4          0.2  Setosa

In [111]:
df.loc[[100,102,103],["sepal length", "species"]]

     sepal length species
100             5  Setosa
102             4  Setosa
103             4  Setosa

In [112]:
df.iloc[[1,2,3],[0,1]]

     sepal length  sepal width
101             4            3
102             4            3
103             4            3

# boolean selection

## df[boolean selection]

## df.loc[boolean selection, ["column"]]

In [113]:
df.head(5)

     sepal length  sepal width  petal length  petal width species
100             5            3           1.4          0.2  Setosa
101             4            3           1.4          0.2  Setosa
102             4            3           1.3          0.2  Setosa
103             4            3           1.5          0.2  Setosa
104             5            3           1.4          0.2  Setosa

In [114]:
df[df["species"] == "Setosa"]

     sepal length  sepal width  petal length  petal width species
100             5            3           1.4          0.2  Setosa
101             4            3           1.4          0.2  Setosa
102             4            3           1.3          0.2  Setosa
103             4            3           1.5          0.2  Setosa
104             5            3           1.4          0.2  Setosa
105             5            3           1.7          0.4  Setosa
106             4            3           1.4          0.3  Setosa
107             5            3           1.5          0.2  Setosa
108             4            2           1.4          0.2  Setosa
109             4            3           1.5          0.1  Setosa
110             5            3           1.5          0.2  Setosa
111             4            3           1.6          0.2  Setosa
112             4            3           1.4          0.1  Setosa
113             4            3           1.1          0.1  Setosa
114             5            4           1.2          0.2  Setosa
115             5            4           1.5          0.4  Setosa
116             5            3           1.3          0.4  Setosa
117             5            3           1.4          0.3  Setosa
118             5            3           1.7          0.3  Setosa
119             5            3           1.5          0.3  Setosa
120             5            3           1.7          0.2  Setosa
121             5            3           1.5          0.4  Setosa
122             4            3           1.0          0.2  Setosa
123             5            3           1.7          0.5  Setosa
124             4            3           1.9          0.2  Setosa
125             5            3           1.6          0.2  Setosa
126             5            3           1.6          0.4  Setosa
127             5            3           1.5          0.2  Setosa
128             5            3           1.4          0.2  Setosa
129             4            3           1.6          0.2  Setosa
130             4            3           1.6          0.2  Setosa
131             5            3           1.5          0.4  Setosa
132             5            4           1.5          0.1  Setosa
133             5            4           1.4          0.2  Setosa
134             4            3           1.5          0.2  Setosa
135             5            3           1.2          0.2  Setosa
136             5            3           1.3          0.2  Setosa
137             4            3           1.4          0.1  Setosa
138             4            3           1.3          0.2  Setosa
139             5            3           1.5          0.2  Setosa
140             5            3           1.3          0.3  Setosa
141             4            2           1.3          0.3  Setosa
142             4            3           1.3          0.2  Setosa
143             5            3           1.6          0.6  Setosa
144             5            3           1.9          0.4  Setosa
145             4            3           1.4          0.3  Setosa
146             5            3           1.6          0.2  Setosa
147             4            3           1.4          0.2  Setosa
148             5            3           1.5          0.2  Setosa
149             5            3           1.4          0.2  Setosa

In [115]:
import numpy as np
df["sepal length"] > 7.6

df.index=df.index-100

In [116]:
df.index
df.head()

df[df["sepal length"] > 6]

     sepal length  sepal width  petal length  petal width     species
50              7            3           4.7          1.4  Versicolor
102             7            3           5.9          2.1   Virginica
105             7            3           6.6          2.1   Virginica
107             7            2           6.3          1.8   Virginica
109             7            3           6.1          2.5   Virginica
117             7            3           6.7          2.2   Virginica
118             7            2           6.9          2.3   Virginica
122             7            2           6.7          2.0   Virginica
125             7            3           6.0          1.8   Virginica
129             7            3           5.8          1.6   Virginica
130             7            2           6.1          1.9   Virginica
131             7            3           6.4          2.0   Virginica
135             7            3           6.1          2.3   Virginica

In [117]:
df.loc[df["sepal length"] > 6]

     sepal length  sepal width  petal length  petal width     species
50              7            3           4.7          1.4  Versicolor
102             7            3           5.9          2.1   Virginica
105             7            3           6.6          2.1   Virginica
107             7            2           6.3          1.8   Virginica
109             7            3           6.1          2.5   Virginica
117             7            3           6.7          2.2   Virginica
118             7            2           6.9          2.3   Virginica
122             7            2           6.7          2.0   Virginica
125             7            3           6.0          1.8   Virginica
129             7            3           5.8          1.6   Virginica
130             7            2           6.1          1.9   Virginica
131             7            3           6.4          2.0   Virginica
135             7            3           6.1          2.3   Virginica

In [118]:
df.loc[df["sepal length"] > 6,["sepal length","species"]]

     sepal length     species
50              7  Versicolor
102             7   Virginica
105             7   Virginica
107             7   Virginica
109             7   Virginica
117             7   Virginica
118             7   Virginica
122             7   Virginica
125             7   Virginica
129             7   Virginica
130             7   Virginica
131             7   Virginica
135             7   Virginica

In [119]:
df[ (df["sepal length"] > 6 )  | (df["sepal width"] > 2) ].head()

   sepal length  sepal width  petal length  petal width species
0             5            3           1.4          0.2  Setosa
1             4            3           1.4          0.2  Setosa
2             4            3           1.3          0.2  Setosa
3             4            3           1.5          0.2  Setosa
4             5            3           1.4          0.2  Setosa

# 열(column) 추가, 열(column) 삭제

## 열 추가

### df["new column"]= 값 

### df.insert(위치, "new column", 값)

In [120]:
df["petal width*2"]=df["petal width"]*2

In [121]:
df.head()

   sepal length  sepal width  petal length  petal width species  petal width*2
0             5            3           1.4          0.2  Setosa            0.4
1             4            3           1.4          0.2  Setosa            0.4
2             4            3           1.3          0.2  Setosa            0.4
3             4            3           1.5          0.2  Setosa            0.4
4             5            3           1.4          0.2  Setosa            0.4

In [122]:
df.insert(2, "sepal sum", df['sepal length'] + df['sepal width'])

df.head()

,sepal length,sepal width,sepal sum,petal length,petal width,species,petal width*2
0,5,3,8,1.4,0.2,Setosa,0.4
1,4,3,7,1.4,0.2,Setosa,0.4
2,4,3,7,1.3,0.2,Setosa,0.4
3,4,3,7,1.5,0.2,Setosa,0.4
4,5,3,8,1.4,0.2,Setosa,0.4

## 열 삭제

### df.drop(["column", axis=0/1, implace=T/F]
   #### axis: 0(행기준)/1(열기준)
   #### implace: T(원데이터 변경)

In [123]:
df.drop([1,2], axis = 0)
df.head()

,sepal length,sepal width,sepal sum,petal length,petal width,species,petal width*2
0,5,3,8,1.4,0.2,Setosa,0.4
1,4,3,7,1.4,0.2,Setosa,0.4
2,4,3,7,1.3,0.2,Setosa,0.4
3,4,3,7,1.5,0.2,Setosa,0.4
4,5,3,8,1.4,0.2,Setosa,0.4

In [124]:
df.drop(['sepal sum', 'petal width*2'], axis = 1, inplace = True)
df.head()

   sepal length  sepal width  petal length  petal width species
0             5            3           1.4          0.2  Setosa
1             4            3           1.4          0.2  Setosa
2             4            3           1.3          0.2  Setosa
3             4            3           1.5          0.2  Setosa
4             5            3           1.4          0.2  Setosa

## 중복 값 제거
## df[~df.duplicated(keep=T/F)]

In [125]:
df[(df["sepal length"] == 5) & (df["sepal width"] == 2) & (df["petal length"] == 4)]

    sepal length  sepal width  petal length  petal width     species
53             5            2           4.0          1.3  Versicolor
89             5            2           4.0          1.3  Versicolor
92             5            2           4.0          1.2  Versicolor

In [126]:
df[df.duplicated()]

     sepal length  sepal width  petal length  petal width     species
4               5            3           1.4          0.2      Setosa
10              5            3           1.5          0.2      Setosa
27              5            3           1.5          0.2      Setosa
28              5            3           1.4          0.2      Setosa
29              4            3           1.6          0.2      Setosa
30              4            3           1.6          0.2      Setosa
31              5            3           1.5          0.4      Setosa
34              4            3           1.5          0.2      Setosa
37              4            3           1.4          0.1      Setosa
38              4            3           1.3          0.2      Setosa
39              5            3           1.5          0.2      Setosa
42              4            3           1.3          0.2      Setosa
45              4            3           1.4          0.3      Setosa
46              5            3           1.6          0.2      Setosa
47              4            3           1.4          0.2      Setosa
48              5            3           1.5          0.2      Setosa
49              5            3           1.4          0.2      Setosa
75              6            3           4.4          1.4  Versicolor
78              6            2           4.5          1.5  Versicolor
79              5            2           3.5          1.0  Versicolor
84              5            3           4.5          1.5  Versicolor
89              5            2           4.0          1.3  Versicolor
96              5            2           4.2          1.3  Versicolor
97              6            2           4.3          1.3  Versicolor
137             6            3           5.5          1.8   Virginica
140             6            3           5.6          2.4   Virginica
142             5            2           5.1          1.9   Virginica

In [127]:
df[df.duplicated(keep = False)]

     sepal length  sepal width  petal length  petal width     species
0               5            3           1.4          0.2      Setosa
1               4            3           1.4          0.2      Setosa
2               4            3           1.3          0.2      Setosa
3               4            3           1.5          0.2      Setosa
4               5            3           1.4          0.2      Setosa
6               4            3           1.4          0.3      Setosa
7               5            3           1.5          0.2      Setosa
10              5            3           1.5          0.2      Setosa
11              4            3           1.6          0.2      Setosa
12              4            3           1.4          0.1      Setosa
21              5            3           1.5          0.4      Setosa
25              5            3           1.6          0.2      Setosa
27              5            3           1.5          0.2      Setosa
28              5            3           1.4          0.2      Setosa
29              4            3           1.6          0.2      Setosa
30              4            3           1.6          0.2      Setosa
31              5            3           1.5          0.4      Setosa
34              4            3           1.5          0.2      Setosa
37              4            3           1.4          0.1      Setosa
38              4            3           1.3          0.2      Setosa
39              5            3           1.5          0.2      Setosa
42              4            3           1.3          0.2      Setosa
45              4            3           1.4          0.3      Setosa
46              5            3           1.6          0.2      Setosa
47              4            3           1.4          0.2      Setosa
48              5            3           1.5          0.2      Setosa
49              5            3           1.4          0.2      Setosa
53              5            2           4.0          1.3  Versicolor
60              5            2           3.5          1.0  Versicolor
65              6            3           4.4          1.4  Versicolor
66              5            3           4.5          1.5  Versicolor
68              6            2           4.5          1.5  Versicolor
74              6            2           4.3          1.3  Versicolor
75              6            3           4.4          1.4  Versicolor
78              6            2           4.5          1.5  Versicolor
79              5            2           3.5          1.0  Versicolor
84              5            3           4.5          1.5  Versicolor
89              5            2           4.0          1.3  Versicolor
94              5            2           4.2          1.3  Versicolor
96              5            2           4.2          1.3  Versicolor
97              6            2           4.3          1.3  Versicolor
101             5            2           5.1          1.9   Virginica
116             6            3           5.5          1.8   Virginica
136             6            3           5.6          2.4   Virginica
137             6            3           5.5          1.8   Virginica
140             6            3           5.6          2.4   Virginica
142             5            2           5.1          1.9   Virginica

In [128]:
df[~df.duplicated()]

     sepal length  sepal width  petal length  petal width    species
0               5            3           1.4          0.2     Setosa
1               4            3           1.4          0.2     Setosa
2               4            3           1.3          0.2     Setosa
3               4            3           1.5          0.2     Setosa
5               5            3           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
145             6            3           5.2          2.3  Virginica
146             6            2           5.0          1.9  Virginica
147             6            3           5.2          2.0  Virginica
148             6            3           5.4          2.3  Virginica
149             5            3           5.1          1.8  Virginica

[123 rows x 5 columns]

In [129]:
df[~df.duplicated(keep=False)]

     sepal length  sepal width  petal length  petal width    species
5               5            3           1.7          0.4     Setosa
8               4            2           1.4          0.2     Setosa
9               4            3           1.5          0.1     Setosa
13              4            3           1.1          0.1     Setosa
14              5            4           1.2          0.2     Setosa
..            ...          ...           ...          ...        ...
145             6            3           5.2          2.3  Virginica
146             6            2           5.0          1.9  Virginica
147             6            3           5.2          2.0  Virginica
148             6            3           5.4          2.3  Virginica
149             5            3           5.1          1.8  Virginica

[103 rows x 5 columns]

## missing 데이터 처리하기

### df[df.isnull().all(axis=1)]
### df[df.isnull().any(axis=1)]
### df.isnull().sum()

### df.dropna(axis=0(행)/1(열))

In [130]:

print(df.iloc[1:3, 1:3])
df.iloc[1:3, 1:3] = np.nan
df.head()
df.info()

   sepal width  petal length
1            3           1.4
2            3           1.3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    int64
 1   sepal width   148 non-null    float64
 2   petal length  148 non-null    float64
 3   petal width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(3), int64(1), object(1)
memory usage: 6.0+ KB

In [131]:
df[df.isnull().any(axis=1)]

   sepal length  sepal width  petal length  petal width species
1             4          NaN           NaN          0.2  Setosa
2             4          NaN           NaN          0.2  Setosa

In [132]:
df.loc[[1,2,3],df.isnull().any(axis=0)]

   sepal width  petal length
1          NaN           NaN
2          NaN           NaN
3          3.0           1.5

In [133]:
df.dropna().shape # 하나라도 NaN이 있다면 해당 행 삭제

(148, 5)

In [134]:
df.dropna(axis=1).shape # 하나라도 NaN이 있다면 해당 열 삭제

(150, 3)