In [1]:
import seaborn as sns

In [71]:
iris=sns.load_dataset('iris')

In [74]:
def long3(x):
    return x.sort_values(by='petal_length',ascending=False)[:3]

iris.groupby('species').apply(long3)

In [78]:
iris.groupby('species').size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [ ]:
df1.pivot('도시','연도','인구')

In [79]:
df1.pivot_table('인구','도시','연도')

NameError: name 'df1' is not defined

In [80]:
df1.pivot_table('인구','도시','연도',margins=True)

NameError: name 'df1' is not defined