In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
tt=sns.load_dataset('titanic')

In [9]:
tt.groupby(['class','sex']).size().unstack()

sex     female  male
class
First       94   122
Second      76   108
Third      144   347